/* bootstrap overrides */
body, html {height: 100%;}
body {font-family: 'PT Sans', sans-serif;font-size: 1.125rem;color: rgba(0,0,0,.84);}
p .lead {font-size: 1.25rem;}
a {transition: color 0.25s ease-in-out 0s;}
a {color:#400eeb ;}
a:hover { color:#330bbb;}
h1{font-family: 'Muli', sans-serif;font-weight: 700;font-size: 1.5rem;}
.display-3{font-family: 'Muli', sans-serif;font-weight: 700;}

/* custom */
.avatar {
    width: 10rem;
    height: 10rem;
    margin:0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.imgzoom {
position: relative;
overflow: hidden;
}
.imgzoom img {
max-width: 100%;
-moz-transition: all 0.25s;
-webkit-transition: all 0.25s;
transition: all 0.25s;
}
.imgzoom:hover img {
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.gif{
    opacity: 0.84;
}

/* responsive */
@media (min-width: 1800px) { 
    html {font-size:1.2rem;}
}
@media (max-width: 992px) {
    .display-3 {font-size: 3em;}
}
@media (max-width: 543px) { 
    .display-3 {font-size: 2.5em;}
    body {font-size: 1rem;}
    p .lead {font-size: 1.125rem;}
}

/* Tooltip container */
.tooltipp {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltipp .tooltipptext {
    visibility: hidden;
    width: 140px;
    background-color: #292929;
    color: #fff;
    text-align: center;
    padding: 4px 2px;
    border-radius: 4px;
    font-size: 0.85rem;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipp .tooltipptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #292929 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipp:hover .tooltipptext {
    visibility: visible;
    opacity: 1;
}