html { margin: 0; padding: 0; scroll-behavior: smooth; scroll-padding-top: 70px; line-height: 1.5; }
body { margin: 0; padding: 0; min-height: 100vh; background-color: #fdfdfd; font-family: 'Inter',sans-serif; font-size: 1.125rem; font-weight: 400; color: rgba(0,0,0,.84); overflow: auto; }
p { margin-top: 0; margin-bottom: 1rem; }
h1 { margin-top: 0; margin-bottom: 2rem; font-weight: 600; font-size: 2rem; line-height: 1.25!important; }
a { color: #400eeb; font-weight: 700; border-bottom: 3px solid rgba(64, 14, 235, .20); text-decoration: none; transition: 0.2s border-color cubic-bezier(.6,.6,.4,.9), 0.1s; }
a:hover {
    border-color: #400eeb;
    background-image: linear-gradient(
        transparent 45%,
        rgba(64, 14, 235, .15) 35%,
        rgba(64, 14, 235, .15) 100%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedLink 0.2s cubic-bezier(.6,.6,.4,.9) 0.1s forwards;
}
@keyframes animatedLink {
    to {
    background-size: 100% 100%;
    }
}
.highlight {
    font-weight: 600;
    background-image: linear-gradient(
        transparent 45%,
        rgba(255, 219, 88, 1) 35%,
        rgba(255, 219, 88, 1) 100%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
ul { padding-left: 0; list-style: none;margin-bottom:0rem; }
li { margin-bottom:0.2rem; }
hr { margin-top: 2rem; margin-bottom: 2rem; border: 0; border-top: solid 1px #dddddd;}
img, video {
    aspect-ratio: attr(width) / attr(height);
  }

.container_md { padding-right: 42px; padding-left: 42px; margin-right: auto; margin-left: auto; max-width: 820px; }
.container_lg { padding-right: 22px; padding-left: 22px; margin-right: auto; margin-left: auto; max-width: 1180px; }
.display { font-size: 2.2rem; padding-bottom: 1rem; line-height: 1.5!important;}
.lead { font-size: 1.6rem; line-height: 1.75; }
.small, small { font-size: 85%; }
.text_center { text-align: center!important; }
.text_muted { color: #525b65!important; }
.text_bold { font-weight: 700; }

.my_8 { margin-top: 8rem!important; margin-bottom: 8rem!important; }
.my_4 { margin-top: 4rem!important; margin-bottom: 4rem!important; }
.my_3 { margin-top: 3rem!important; margin-bottom: 3rem!important; }
.my_2 { margin-top: 2rem!important; margin-bottom: 2rem!important; }
.my_1 { margin-top: 1rem!important; margin-bottom: 1rem!important; }

.mb_4 { margin-bottom: 4rem!important; }
.mb_3 { margin-bottom: 3rem!important; }
.mb_0 { margin-bottom: 0rem!important; }

.mt_4 { margin-top: 4rem!important; }
.mt_2 { margin-top: 2rem!important; }
.mr_2 { margin-right: 1.4rem!important; }
.mr_auto { margin-right: auto!important; }

.align_start { -ms-flex-align: start!important; align-items: flex-start!important; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.align_bottom { -ms-flex-align: end!important; align-items: flex-end!important; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.logo { font-size: 1.2rem; }
.img_fluid { max-width: 100%; height: auto; }
.img_cover { width: 100%; height: 100%; object-fit: cover; }
.img_link { text-decoration: none !important; border:0px !important; animation: none!important; }
.badge_secondary { background-color: #efefef; line-height: 1; color: #525b65; border-radius: 8rem; display: inline-block; padding: .4em .6em; font-size: 80%; font-weight: 700; text-align: center; white-space: nowrap; vertical-align: baseline; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.callout_media { box-shadow: -8px 8px 0 0 rgba(0,0,0,.84); border: 1px solid #fdfdfd; }
.callout_section { padding: 2rem; box-shadow: -8px 8px 0 0 rgba(0,0,0,.84); border: 3px solid rgba(0,0,0,.84); }
.callout_section h1 { font-size: 1.6rem; margin-bottom: 1rem; }
.callout_discreet { padding: 0.6rem 1rem; background-color: hsla(200,5%,78%,.2) }

.nav a { position: relative; color: rgba(0,0,0,.84); font-weight: 700; border-bottom: none; text-decoration: none; transition: none; padding: 6px 0px; }
.nav a:before { content: ""; position: absolute; width: 0; height: 3px; bottom: 0; left: 0; background-color: rgba(0,0,0,.84); visibility: hidden; transition: all 0.2s ease-in-out; }
.nav a:hover { background-image: none; }
.nav a:hover:before { visibility: visible; width: 100%; }
.nav .active:before { visibility: visible; content: ""; position: absolute; width: 100%; height: 3px; bottom: 0; left: 0; background-color: rgba(0,0,0,.84); }
.hero_sm { max-width: 58%; }
.hero_lg { max-width: 86%; }
#navbar { position: sticky; top: 0; z-index: 1; background-color: #fdfdfd; }
#footer { margin-top: 4rem;padding-bottom: 2rem; }

.grid_md { max-width: 100%; display: grid; grid-gap: 1.6rem; }
.grid_mt_3 { margin-top: 0rem; }
.grid_lg { max-width: 100%; display: grid; grid-gap: 1rem; }

@media (max-width:599px){
    body{font-size:1rem;}
    .display { font-size:1.5rem; }
    .lead { font-size:1.25rem; }
    .container_md { padding-right: 22px; padding-left:22px; }
    .hero_sm{ max-width: 100%; }
    .hero_lg{ max-width: 100%; }

    .my_8 { margin-top: 6rem!important; margin-bottom: 6rem!important; }
    .my_4 { margin-top: 2rem!important; margin-bottom: 2rem!important; }
    .my_3 { margin-top: 2rem!important; margin-bottom: 2rem!important; }
    .my_2 { margin-top: 2rem!important; margin-bottom: 2rem!important; }
    .mb_4 { margin-bottom: 2rem!important; }
    .mb_3 { margin-bottom: 2rem!important; }    
    .mt_4 { margin-top: 2rem!important; }
    .mr_2 { margin-right: 1rem!important; }
    .logo { display: none;}
    .logo_md { display: none;}
    #navbar .my_1 { margin-top: 0.8rem!important; margin-bottom: 0.8rem!important; }
    #navbar .mt_2 { margin-top: 0rem!important; }
    #navbar .mr_2 { margin-right: 0.6rem!important; }
}
@media (min-width: 600px) {
    .grid_lg { grid-template-columns: repeat(2, 1fr); }
    .grid_lg_span2 { grid-column: span 1; }
    .hero_sm { max-width: 80%; }
    .logo_xs { display: none;}
    .logo { display: none;}
    #navbar .mt_2 { margin-top: 1rem!important; }
}
@media (min-width: 900px) {
    .grid_md { grid-template-columns: repeat(3, 1fr); }
    .grid_md_span_2 { grid-column: span 2; }
    .grid_mt_3 { margin-top: 3rem; }
    .grid_mt_n3 { margin-top: -3rem; }
    .grid_lg { grid-template-columns: repeat(3, 1fr); }
    .grid_lg_span2 { grid-column: span 2; }
    .logo_md { display: none;}
    .logo { display: block;}
}
@media(min-width: 1800px) {
    .container_md { max-width:900px; } 
    html {font-size:1.125rem;}
}

.youtube_container { position: relative; overflow: hidden; width: 100%; padding-top: 56.25%; }
.youtube_responsive { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; background-color: hsla(200,5%,78%,.2); }

.twitter_grid {
    max-width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-template-rows: auto;
    
}
.instagram { height: 460px; }

.tooltip { position: relative; display: inline-block; }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #292929;
    color: #fff;
    text-align: center;
    padding: 4px 2px;
    border-radius: 4px;
    font-size: 0.8rem;

    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #292929 transparent transparent transparent;
}
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1; }

.thumbnail { width: 156px; height: 156px; background-color: hsla(200,5%,78%,.2); object-fit: scale-down;}
@media (min-width: 700px) {
    .media { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
}